@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: 14px;
}
.navEvents {
  border: 0 solid #efefef;
  box-shadow: 0 4px 25px rgba(110, 115, 146, 0.3);
  transition: opacity 0.3s ease;
}
